.production-new
  = simple_form_for(@production, url:productions_path(@production)) do |f|
    = f.error_notification
    = display_base_errors @production
    .pull-left
      = f.input :p_type, label:"类型", as: :hidden, input_html: { value: @production.p_type }
      = f.input :make_at, label:"时间", as: :hidden, input_html: { value: Time.now }
      = f.input :p_pattern, label:"款式", as: :hidden, :required => true
      = f.input :p_material, label:"材料", as: :hidden, :required => true
      = f.input :p_color, label:"颜色", as: :hidden, :required => true
      = f.input :p_size, label:"尺寸", as: :hidden, :required => true
      = f.input :img_url, as: :hidden, input_html: { value: "http://meshu.io/static/images/gallery/r5.jpg" }
    .pull-left.production-dots
    
  .clearfix    

  .get-positions.pull-left
    %h3 定位
    .input-append
      %input#get-position{type: "text", placeholder: "请输入城市名"}
      %button.btn.btn-blue#position-search 搜索
    .display-position
      %h3 我的心私地点
    .button-bottom  
      %button.btn.btn-blue#production-new-next.button-bottom-right 下一步

  #map-display.pull-left
  
  #production-select-pattern.pull-right
    .production-selct-title
      %span.pattern-title.btn-pink 选择款式
      %span.others-title.btn-blue 更多细节
    .pattern-image-show-block
      .pattern-image-show
        = image_tag "pair_earrings.png", class: "pattern-image-show-image"
        .pattern-image-show-pattern 一对耳环
        .pattern-image-show-price RMB 70-85
      .pattern-image-show
        = image_tag "necklace.png", class: "pattern-image-show-image"
        .pattern-image-show-pattern 项链吊坠
        .pattern-image-show-price RMB 80-85
      .pattern-image-show
        = image_tag "large_necklace.png", class: "pattern-image-show-image"
        .pattern-image-show-pattern 大号吊坠
        .pattern-image-show-price RMB 80-90
      .pattern-image-show
        = image_tag "cufflinks.png", class: "pattern-image-show-image"
        .pattern-image-show-pattern.center 一对袖扣
        .pattern-image-show-price RMB 50-60
      .clearfix  

    .button-bottom
      %button.btn.btn-blue#back-to-positions.button-bottom-left 返回
      %button.btn.btn-blue#go-to-others.button-bottom-right 下一步

  #production-select-others.pull-right
    .production-selct-title
      %span.pattern-title.btn-blue 选择款式
      %span.others-title.btn-pink 更多细节
    #production-others-detail
      %h3#production-others-pattern
      #production-others-size
        #selected-size 最大尺寸：60mm
        #others-sizes
          .pull-left 可选择尺寸：
          .others-each-size
            %span 30mm
          .others-each-size
            %span 40mm
          .others-each-size
            %span 50mm
          .others-each-size
            %span.selected 60mm
          .clearfix  
      #production-others-show
      #production-others-material
        %h3 材料
        #others-materials
          .others-each-material
            %span.selected 竹子
          .others-each-material            
            %span 亚克力
          .others-each-material            
            %span 金属
          .others-each-material            
            %span 3D打印
          .clearfix    
      #production-others-color
        %h3 颜色
        #others-colors
          .others-each-color
            %span.selected 黑色
          .others-each-color
            %span 白色
          .others-each-color
            %span 红色
          .clearfix    
    .button-bottom
      %button.btn.btn-blue#back-to-pattern.button-bottom-left 返回
      %button.btn.btn-blue#decide-to-create.button-bottom-right 创建