.production-show
  = image_tag(@production.img_url, class: "pull-left")
  .production-message.pull-left
    %h4 产品信息
    %p= "款式：#{@production.p_pattern}"
    %p= "材料：#{@production.p_material}"
    %p= "颜色：#{@production.p_color}"
    %p= "尺寸：#{@production.p_size}"
    %p= "价格：#{@production.price}"
    = simple_form_for @user_production do |f|
      = f.input :user_id, as: :hidden,  input_html: { value: user_signed_in? ? current_user.id : 1 }
      = f.input :production_id, as: :hidden,  input_html: { value: @production.id }
      = f.input :order_at, as: :hidden,  input_html: { value: Time.now }
      = f.input :bargain_price, as: :hidden,  input_html: { value: 100 }
      = f.button :submit, '立即购买', :class => 'btn-primary'
  .dots-show.pull-left
    %h4 我的地点
    %ol
      - @dots.each do |d|
        %li= "城市：#{d.city_name}，x：#{d.x}，y：#{d.y}"  