#logo= link_to image_tag("http://meshu.io/static/images/logo.png"), root_path, :class => 'brand'
%ul.nav.nav-pills
  %li{:class => active?("home#index")}
    = link_to '首页', root_path
  %li{:class => active?("home#custom")}
    = link_to '定制', custom_path
  %li{:class => active?("home#taobao")}
    = link_to '淘宝店', taobao_path
  %li{:class => active?("productions#index")}
    = link_to '展示', productions_path
  %li{:class => active?("home#quality")}
    = link_to '品与质', quality_path
%ul.nav.pull-right  
  - if user_signed_in?
    %li
      = link_to '注销', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to '登录', new_user_session_path
  - if user_signed_in?
    %li
      = link_to '编辑', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to '注册', new_user_registration_path
