!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Heart Self"
      %meta{:content => content_for?(:description) ? yield(:description) : "Heart Self", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
      / ! end of .container
    / ! end of #main
    
    %footer.container
      .inner
        .pull-left
          copyright &copy; 2011-2012 xinsi.me, All Rights Reversed.
        .pull-right
          %span 关于我们
          %span 加入我们
          %span 合作联系
